<h2>News</h2>
<table border="black">
    <thead>
        <th>Dep name</th>
    </thead>
    <tbody>
        <tr>
            <td>Security</td>
        </tr>
        <tr>
            <td>Tai chinh</td>
        </tr>
    </tbody>
</table>